# Site wide configuration

title:            Branch 'n' Bound
locale:           en_US
url:


# Jekyll configuration

permalink:   /:categories/:title/
markdown:    kramdown
highlighter: rouge
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap
  - jekyll-gist

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  enable_coderay: false


# Octopress

# Default extensions
post_ext: md
page_ext: md

# Found in _templates/
post_layout: post
page_layout: page

# Format titles with titlecase?
titlecase: true


# Site owner
owner:
  name: Satyajit Sarangi
  avatar: bio-photo.jpg
  bio: "I am a software engineer currently residing in Bay Area."
  email: kernel.saty@gmail.com
  disqus-shortname: ssarangi
  twitter: ssarangi
  facebook: #username
  google:
    plus: #username
    analytics: UA-21922961-2
    verify:
    ad-client:
    ad-slot:
  bing-verify:
  github: ssarangi
  stackoverflow: 1327837/ssarangi
  linkedin: satyajitsarangi
  xing: #username
  instagram: #username
  lastfm: #username
  tumblr: #username
  pinterest: #username
  foursquare: #username
  steam: #username
  dribbble: #username
  youtube: #username
  soundcloud: #username
  weibo: #username
  flickr: #username
  codepen: #username

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md"]
plugins_dir: _plugins
