// Global Values
// $primary-color: #990000;
$primary-color: #01679A;


.name {
    color: $primary-color;
    font-size: 24px;
    font-family: Arial;
}

hr {
   margin: 2px 0;
   height: 3px;
   background: $primary-color;
   border-top: 0px;
}

.cloud-section {
    margin-top: 10px;
    h3 {
        margin-bottom: 10px;
    }
    .primary {}
    .secondary {
        opacity: .5;
    }
}

.details {
    font-size: 12px;
}

.section {
    margin-top: 15px;
    line-height: 1;
    font-family: Arial;
    font-size: 24px;
        
    ul {
        color: black;
    }
    
    .name {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
    }
    
    p {
        color: black;
        font-size: 12px;
        margin: 0 0 0 2px;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px
    }
}

.summary {
    font-family: Arial;
    margin: 5px 0 5px 0;
}

.block {
    margin: 0 0 0 0;
    color: black;
    font-family: Arial;

    .main-row, .sub-row {
        display: block;
        clear: both;
        width: 100%;
        
        h1, h2, h3, h4, h5, h6 { 
            padding: 2px 0 0 0;
        }

        .role, .org {
            margin: 2px 0 0 0;
            float: left;
            text-align: left;
            width: 50%;
            font-size: 12px;
            font-weight: bold;
        }
        .location, .when {
            text-align: right;
            float: right;
            font-size: 12px;
            font-weight: bold;
            width: 50%;
        }
    }
    
    .summary {
        margin: 10px 0 10px 0;
        text-align: left;
        float: left;
        width: 100%;
        display: block;
        font-size: 12px;
    }

    ul {
        color: black;
        padding-top: 10px;
        clear: both;
    }
}

.cloud-section {
    font-family: Arial;
    color: black;
    margin: 0 0 0 0;
    
    .header {
        font-size: 14px;
        font-weight: bold;
    }
    
    .primary, .secondary {
        font-size: 12px;
    }
}

footer {
    padding-top: 40px;
    text-align: center;
    opacity: .5;
}
